<header id="top-header">
   <h1>
      <span class="siteName"><a class="homelink" href='/'
         title='Return to the home page'>CSE Motors</a></span>
   </h1>

   <div id="tools">
      <%if (!locals.loggedin) { %>
         <span class="accountLink"><a href="/client/login">My Account</a></span>
      <% }else{ %>
               <!-- TODO: when this link is clicked, it should initiate the logout process and redirect to the home page. -->
               <span class="accountLink"><a href="/client/logout">Logout</a></span> 
               <!-- this goes to the server first, then it goes to client becuase it is the first part of the route, which then sends it to the account route. 
               its all routes now. Get out of the filepaths mindset -->
      <%}%>
   </div>
</header>