<h2>Welcome to CSE Motors!</h2>
<div class="container">
   <div class="row">
      <div class="col-6">
         <img src="/images/vehicles/delorean.jpg" alt="Delorean" class="delorean-img">
      </div>
      <div class="col-6 box-over-img">
         <h2>DMC Delorean</h2>
         <p>3 Cup holders</p>
         <p>Superman doors</p>
         <p>Fuzzy dice!</p>
         <button id="own-today-button">Own Today</button>
      </div>
   </div>
</div>

<div class="flex-container">
   <div class="flex-child-element">
      <h2>DMC Delorean Reviews</h2>
      <div class="reviews-bullet-points">
         <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
         </ul>
      </div>
   </div>

   <div class="flex-child-element">
      <h2>Delorean Upgrades</h2>
      <div class="img-container">
         <div class="img-and-text">
            <div class="img-background">
               <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Link" width= "970" height="224">
            </div>
            <a href="">Flux Capacitor</a>
         </div>
         <div class="img-and-text">
            <div class="img-background">
               <img src="/images/upgrades/flame.jpg" alt="Flame Decals Link">
            </div>
            <a href="">Flame Decals</a>
         </div>
         <div class="img-and-text">
            <div class="img-background">
               <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Link">
            </div>
            <a href="">Bumper Stickers</a>
         </div>
         <div class="img-and-text">
            <div class="img-background">
               <img src="/images/upgrades/hub-cap.jpg" alt="Hug Caps Link">  
            </div>
            <a href="">Hub Caps</a> 
         </div>
      </div>
   </div>
   
</div>
