/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  padding-top: 20px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  text-align: center;
}
.delorean-img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  padding-left: 30px;
  padding-right: 30px;
}

.box-over-img {
  padding: 10px;
}

.box-over-img h2, 
.box-over-img p {
  text-align: left;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.img-and-text > div {
  padding: 20px 0;
  font-size: 30px;
}

.img-container img{
  max-width: 3em;
  max-height: 3em;
  bottom: 0;
}

div .img-background {
  background-color: rgb(41, 192, 234);
  width: auto;
  height: 3.7em;
  position: relative;
  border: 2px solid rgb(99, 99, 99);
}

.box-over-img {
background-color: rgb(255, 255, 255, 0.8);
color : rgb(41, 192, 234);
font-weight: 400;
position: absolute;
top: 8px;
  left: 16px;
  margin: 0;
}

.password_reminder {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  color:rgb(99, 99, 99);
  font-style: italic;
} 


.reviews-bullet-points li{
  padding: 0.2em;
  font-weight: 500;
  padding-bottom: 15px;
}

.box-over-img h2,
.box-over-img p {
  margin: 0;
}

button {
  background-color: rgb(41, 192, 234);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 25px 5px 10px 5px; /* top | right | bottom | left */
  cursor: pointer;
}

.inv-display{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.classification-display{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.classification-display a {
  text-decoration: none;
  color: black;
}

.name-price{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  font-size: 80%;
}

.classification-images{
  gap: 10px;
  text-align: center;
  max-width: fit-content;
  border-radius: 5px;
}

.vehicle-display{
  display: grid;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.individual-vehicle-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  grid-template-areas: "image information";
}

.vehicle-image{
  gap: 10px;
  padding: 30px 10px 10px 10px;
  width: 100%;
  text-align: center;
}

.vehicle-image-container{
  grid-area: image;
}

.vehicle-information{
  grid-area: information;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
}

.vehicle-information table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.vehicle-information table th{
  padding: 10px;
  font-weight: 400;
}

table span {
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: rgb(239, 239, 239);
}


tr:nth-child(odd) {
  background-color: white;
}

.login-form, 
.register-form,
.add-classification-form,
.add-vehicle-form {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  background-color: rgba(228, 228, 228, 0.8);
  border-radius: 5px;
  border: 1px solid rgb(99, 99, 99);
}

.managment-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  background-color: rgba(228, 228, 228, 0.8);
  border-radius: 5px;
  border: 1px solid rgb(99, 99, 99);
}
.managment-links a{
  padding: 20px;
  color: black;
}

select,
textarea,
input[type=text], 
input[type=password], 
input[type=email],
input[type=number]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4b4b4b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 5px;
  cursor: pointer;
}

.login-title,
.register-title,
.new-classification-title,
.new-vehicle-title,
.management-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media only screen and (min-width: 900px){
  html {
    background-image: url("../images/site/small_check.jpg");
  }
  
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 10px;
  }
 
  body {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(41, 192, 234);
    border-radius: 15px;
    margin: 1em 6em;
    padding: 1em;
  }

  .box-over-img {
    padding-top: 30px;
    height: 220px;
    margin-left: 3em;
  }

  .delorean-img {
    width: 85%;
    height: 85%;
  }


  

}

@media only screen and (max-width: 900px){
  .inv-display{
    grid-template-columns: 1fr;
    place-items: center;
  }

  .classification-display{
    width: 50%;
    flex-direction: column;
  }

  .name-price{
    gap: 0px;
  }

  .individual-vehicle-display{
    grid-template-columns: 1fr;
    grid-template-areas: "image" 
                        "information";
  }
}