<% if (title) { %>
   <h1><%= title %></h1>
   <% } else {
      res.redirect('/')
   } %>
   
   <% if (message) { %>
   <p class="notice"><%= message %></p>
   <% } %>


   <form class="add-vehicle-form" action="#" method="post">
      <label for="classiifcation_id">Classification</label>
      <%- dropdown %>

      <label for="inv_make">Make</label>
      <input type="text" name="inv_make" class="inv-make" required />

      <label for="inv_model">Model</label>
      <input type="text" name="inv_model" class="inv-model" required />

      <label for="inv_year">Year</label>
      <input type="text" name="inv_year" class="inv-year" required />

      <label for="inv_description">Description</label>
      <input type="text" name="inv_description" class="inv-description" required />

      <label for="inv_image">Image Path</label>
      <input type="text" name="inv_image" value="/images/vehicles/no-image.png" class="inv-image" required />

      <label for="inv_thumbnail">Thumbnail Path</label>
      <input type="text" name="inv_thumbnail" value="/images/vehicles/no-image.png" class="inv-thumbnail" required />

      <label for="inv_price">Price</label>
      <input type="text" name="inv_price" class="inv-price" required />

      <label for="inv_miles">Mileage</label>
      <input type="text" name="inv_miles" class="inv-miles" required />

      <label for="inv_color">Color</label>
      <input type="text" name="inv_color" class="inv-color" required />

      <input type="submit" value="Add Vehicle">

   </form>