<% if (title) { %>
   <h1 class="management-title"><%= title %></h1>
   <% } else {
      res.redirect('/')
   } %>
   
   <% if (message) { %>
   <p class="notice"><%= message %></p>
   <% } %>

   <div class="managment-links">
      <a href="  ../../inv/add-classification-view">Add a new classification</a>
      <a href="  ../../inv/add-vehicle-view">Add a new vehicle</a>
   </div>
